.custom_card {
    height: 100%;
    color: white;
    border: 1px solid white;
    position: relative;

        li {
            line-height: 2.3rem;
        };

        .title{
            font-weight: bold;
            font-size: 1.5rem;
        };

        .card_info {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba($color: #000000, $alpha: 0.8);
            overflow-y: scroll;                       
        };     

        .card_info::-webkit-scrollbar{
            display: none;
        };

        .overview {
            line-height: 1.4rem;
        };

        &:hover .card_info {
            display: block;
        }
}; 